h2, p, pre, figure {
	padding: 0;
	margin: 0;
	border: 0
}

h2 {
   text-rendering: geometricPrecision;
   font: inherit;
}

abbr {
	text-decoration: none;
	color: inherit
}

pre {
   text-align: left
}

address {
	font-style: normal
}

p {
	line-height: 1.5;
	hyphens: none
}

.grid {
	display: grid;
	width: 100%;
	max-width: 1326px;
	padding: 0 18px;
	margin: 0 auto;
	grid: none / repeat(12, 1fr);
	grid-column-gap: 18px;
	column-gap: 18px;

	@include tabletPor {
		padding: 0 24px;
		grid-column-gap: 24px;
		column-gap: 24px
	}

	@include desktop {
		padding: 0 30px;
		grid-column-gap: 30px;
		column-gap: 30px
	}

	@include desktopLG {
		max-width: 1496px
	}
}
