@import "../_sass/_vendor/turntable", "../_sass/_base/_vars";


// Global
@-ms-viewport {
	width: device-width
}

*, *::before, *::after {
	box-sizing: border-box
}

html {
	@include font-smoothing(antialiased);
	font: 18px Heebo, Helvetica, sans-serif
}

body, h1, input {
	padding: 0;
	margin: 0;
	border: 0
}

h1 {
	@include title;
	text-align: inherit
}

svg, input, img, picture, header::after {
	display: block
}

a {
	text-decoration: none;
	color: inherit
}

img {
	font-size: 0
}

svg {
	fill: none;
	stroke-width: 8;
	stroke-linecap: round;
	stroke-linejoin: round
}

picture {
	position: relative;

	&::before {
		display: block;
		content: "";
		padding-top: 60%;
	}
}

img {
	@include size(100%);
	@include xy(0);
	position: absolute;
	-o-object-fit: cover;
	object-fit: cover;
}

nav a, header h1 {
	font-weight: 700
}

nav, header::after {
	top: 0;
	position: absolute
}

header, header input {
	text-align: center
}



// Nav
nav {
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	width: 100%;
	max-width: 1326px;
	height: 60px;
	padding: 0 4.4vw;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 2;

	a {
		display: table;
		padding: 14px 0;
		color: color(action);
	}

	svg {
		width: auto;
		height: 20px;
		box-sizing: content-box;
		stroke: #FFF;
	
		@at-root nav a:active svg {
			stroke: color(action)
		}
	}
}



// Hero
header {
	position: relative;

	&::after {
		height: 570px;
		z-index: -1;
		content: "";
		border-bottom: 155px solid #fff;
		border-left: 100vw solid transparent;
		background: color(primary)
	}

	h1 {
		@include title;
		font-size: 2rem;
		padding: 120px 0 0;
		line-height: 1.2;
		color: #FFF;
		letter-spacing: 0.01em
	}

	input {
		@include appearance(none);
		@include box-shadow(0 1px 3px ts(0.4));
		box-sizing: content-box;
		width: 14em;
		padding: 0.8em;
		font: bold 0.9rem Menlo, Monaco, monospace;
		border-radius: 5px;
		background: color(action);
		margin: 40px auto 0;
		color: color(primary);
	
		&:active {
			@include transform(scale(0.96));
			box-shadow: none
		}
	}

	picture {
		width: 90%;
		max-width: 560px;
		margin: 50px auto 0;
	}

	img {
		@include filter((drop-shadow(0 40px 14px ts(0.3))));
		-o-object-position: 0 0;
		object-position: 0 0
	}
}


// Media Queries
@media (min-width:540px) {

	nav {
		padding: 0 2.8vw
	}

	header {

		picture {
			width: 70%
		}
	}

}

@media (min-width:768px) {
	
	html {
		font-size: 20px
	}

	nav {
		height: 90px;
		padding: 0 3.2vw;

		svg {
			height: 26px;
			padding: 11px 0
		}
	}

	header {

		&::after {
			height: 730px;
			border-bottom-width: 285px
		}

		h1 {
			padding: 180px 0 0;
			font-size: 2.2rem
		}
	
		img {
			@include filter((drop-shadow(0 50px 18px ts(0.3))))
		}
	}

}

@media (min-width:1024) {

	nav {
		padding: 0 2.4vw
	}

}

@media (min-width:1290px) {

	nav {
		padding: 0 30px
	}

	header {
		padding-bottom: 90px
	}

}

@media (min-width:1680px) {

	nav {
		height: 120px;
		max-width: 1496px
	}

	header {
		padding-bottom: 210px;

		&::after {
			height: 980px;
			border-bottom-width: 415px
		}

		h1 {
			padding-top: 300px;
			font-size: 2.4rem
		}

		picture {
			max-width: 660px;
			margin-top: 80px
		}
	}

}
