$colors: (
	primary: #8338EC,
	action: #48FFF1,
	third: #FF006E,
	fourth: #3A86FF,
	fifth: #fdbe0b
);

@function color($arg) {
	@return map-get($colors,$arg)
}

@mixin break($a) {
   @media (min-width:#{$a}) {
		@content;
	}
}

@mixin phoneLan {
   @include break(540px) {
      @content;
   }
}

@mixin tabletPor {
   @include break(768px) {
      @content;
   };
}

@mixin tabletLan {
   @include break(1024px) {
      @content;
   };
}

@mixin desktop {
   @include break(1366px) {
      @content;
   };
}

@mixin desktopLG {
   @include break(1680px) {
      @content;
   };
}
